### Archive Exploration

When possible, data exploration should start at the data repository. Take some time to look through the dataset’s description in the KNB data repository. Discuss the following questions with your team:

1. What is this data about?
2. Is this data collected in-situ by the authors or is it a synthesis of multiple datasets?
3. During what time frame were the observations in the dataset collected?
4. Does this dataset come with an associated metadata file?
5. Does the dataset contain sensitive data?

In your notebook: use a markdown cell to add a brief description of the dataset, including a citation, date of access, and a link to the archive.

### Metadata Exploration

Read in the data from the URL using the `pd.read_csv()` function.

In [1]:
import pandas as pd

# Access metadata from the repository
metadata = pd.read_csv("https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3A3baf7289-bf90-4db3-ad11-58785c09b26e")

In [2]:
# View metadata
metadata

,attribute,description
0,class,taxonomic class of observed organism
1,order,taxonomic order of observed organism
2,family,taxonomic family of observed organism
3,genus,genus name
4,species,full latin binomial name
5,lat,latitude of occurrence record in decimal degrees
6,long,longitude of occurrence record in decimal degrees
7,eventDate,date and time of observation in YYYY-MM-DD HH:...
8,day,day of the month of observation
9,month,month of observation
10,year,observation year
11,institutionCode,institution code provided by GBIF (www.gbif.org)
12,coordinateUncertaintyInMeters,coordinate uncertainty in meters; NA indicate ...
13,basisOfRecord,"type of record provided by GBIF; one of ""HUMAN..."
14,individualCount,number of individuals (if provided) observed f...
15,datasetKey,unique dataset key provided by GBIF
16,bio1,"annual mean temperature (degrees Celsius, x10)"
17,bio10,mean temperature of warmest quarter (degrees C...
18,bio11,mean temperature of coldest quarter (degrees C...
19,bio12,annual precipitation (millimeters (mm))
20,bio13,precipitation of wettest month (mm)
21,bio14,precipitation of driest month (mm)
22,bio15,precipitation seasonality (percent)
23,bio16,precipitation of wettest quarter (mm)
24,bio17,precipitation of driest quarter (mm)
25,bio18,precipitation of warmest quarter (mm)
26,bio19,precipitation of coldest quarter (mm)
27,bio2,"annual mean diurnal range (degrees Celsius, x10)"
28,bio3,isothermality (percent)
29,bio4,"temperature seasonality (degrees Celsius, x100)"
30,bio5,max temperature of warmest month (degrees Cels...
31,bio6,min temperature of coldest month (degrees Cels...
32,bio7,"annual temperature range (degrees Celsius, x10)"
33,bio8,mean temperature of wettest month (degrees Cel...
34,bio9,mean temperature of driest quarter (degrees Ce...
35,dist,distance to the nearest major road (kilometers...
36,dem90_hf,elevation (meters); data from the National Ele...
37,lc_class,landcover classification from the University o...
38,ndvi,the mean normalized difference vegetation inde...
39,notes,all bioX variables are from the WorldClim data...

### Data Loading

In [3]:
# Import prey data
prey = pd.read_csv('https://knb.ecoinformatics.org/knb/d1/mn/v2/object/urn%3Auuid%3A23d42528-1048-45d4-85d1-7e13b666e744')

In [4]:
# What type of variable is prey?

pandas.core.frame.DataFrame

In [10]:
# View the head of the dataframe

### Look at your data

In [1]:
# Update option to see all columns

# Isabella

### Preliminary Exploration

In [2]:
 # View the first 5 rows of the dataframe

In [3]:
 # View the last 5 rows of the datafrmae

In [4]:
# .info()

In [5]:
# nunique()

In [6]:
# What optional parameters does head have?

In [7]:
 # Look at the shape of the dataframe

In [8]:
# Look at the columns of the dataframe

In [9]:
# Look at the types of the columns

# Ava

### Update column names

Change the column names of institutionCode and datasetKey to institution_code and dataset_key, respectively. Make sure you’re actually updating the dataframe. HINT: look for the documentation on the rename method for pandas.DataFrames.

In [15]:
# Rename column names

# Megan

## 7. Subsetting

1. Select only the preservered specimes from `prey`.

2. Select observations between 1992 and 2000

3. Select all rows for columns `species` and `eventDate`.

4. Select observations that are between 37  &deg;  and 39 &deg; latitude ( inclusive of both 37 and 39)