### Discussion Section: Week 3

#### Load libraries and hurricane data

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

# Importing data
df = pd.read_csv('../../data/hf071-01-hurricanes.csv')

####  How many hurricanes with Saffir-Simpson category 5 have been registered and what was their duration?

##### Data Wrangling

In [4]:
df.head()

    code  start.date    end.date  number name  ss track rf.max
0  Y1852  1852-10-07  1852-10-08       5  NaN   2     O     F1
1  Y1857  1857-09-28  1857-09-28       4  NaN   2     N     F1
2  Y1861  1861-08-17  1861-08-17       2  NaN   1     O     Nd
3  Y1864  1864-08-31  1864-08-31       3  NaN   1     S     F1
4  Y1865  1865-09-11  1865-09-11       4  NaN   2     O     F1

####  Visualize Saffir-Simpson categories across time