## Discussion section: Week 3

#### Read in the data

In [2]:
import pandas as pd
import numpy as np

In [3]:
hares = pd.read_csv('https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701')
hares

,date,time,grid,trap,l_ear,r_ear,sex,age,weight,hindft,notes,b_key,session_id,study
0,11/26/1998,NaN,bonrip,1A,414D096A08,NaN,NaN,NaN,1370.0,160.0,NaN,917.0,51,Population
1,11/26/1998,NaN,bonrip,2C,414D320671,NaN,M,NaN,1430.0,NaN,NaN,936.0,51,Population
2,11/26/1998,NaN,bonrip,2D,414D103E3A,NaN,M,NaN,1430.0,NaN,NaN,921.0,51,Population
3,11/26/1998,NaN,bonrip,2E,414D262D43,NaN,NaN,NaN,1490.0,135.0,NaN,931.0,51,Population
4,11/26/1998,NaN,bonrip,3B,414D2B4B58,NaN,NaN,NaN,1710.0,150.0,NaN,933.0,51,Population
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3375,8/8/2002,18:00:00,bonrip,1b,1201,1202,NaN,NaN,1400.0,NaN,NaN,63.0,64,Population
3376,8/8/2002,6:00:00,bonrip,4b,1201,1202,NaN,NaN,NaN,NaN,NaN,63.0,64,Population
3377,8/7/2002,NaN,bonrip,4b,1217,1218,NaN,NaN,1000.0,134.0,NaN,69.0,64,Population
3378,8/8/2002,NaN,bonrip,6d,1217,1218,NaN,NaN,990.0,NaN,NaN,69.0,64,Population
3379,8/6/2002,NaN,bonrip,4b,1058,1060,M,NaN,1460.0,119.0,NaN,32.0,64,Population

## Melanie

### 4. Detecting Messy values

a.
| Code    |definition|
| -------- | -------  |
|     m     |   male       |
|     f     |  female        |
|     m?     | male uncomfirmed        |

b. Get the number of times each unique sex non-NA value appears.

In [4]:
# Count of unique non-NA values
hares['sex'].value_counts()

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

c. What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

In [12]:
# help(pd.Series.value_counts)

Purpose of the drop NA parameter is to decide whether to include the counts of rows that contain NA values. Default value: True

Discuss with your team the output of the unique value counts. In particular:

Do the values in the sex column correspond to the values declared in the metadata?
What could have been potential causes for multiple codes?
Are there seemingly repated values? If so, what could be the cause?

## Stephan

### 6. Clean Values

Create a new column called sex_simple using the numpy.select() function so that:


- ‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,

- ‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and

- anything else gets assigned np.nan

In [6]:
# check all the different unique vales 
hares.sex.unique()

x=hares.sex

In [9]:
condition_list = [x.isin(['M', 'm', 'm_']), x.isin(['F', 'f', 'f_'])]
output_list = ['male', 'female']

hares['sex_simple'] = np.select(condition_list, output_list, default = np.nan)

In [10]:
hares['sex_simple'] = new_column

In [11]:
hares['sex_simple'].value_counts()

female    1717
male      1245
nan        418
Name: sex_simple, dtype: int64

### 7. Calculate mean weight

In [7]:
#a. Use `groupby()` to calculate the mean weight by sex using the new column.

In [12]:
hares.groupby(by = 'sex_simple')['weight'].mean()

sex_simple
female    1366.920372
male      1352.145553
nan       1176.511111
Name: weight, dtype: float64