## Discussion section: Week 3

#### Read in the data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
hares = pd.read_csv('https://pasta.lternet.edu/package/data/eml/knb-lter-bnz/55/22/f01f5d71be949b8c700b6ecd1c42c701')
hares

### 4. Detecting Messy values

a.
| value    |definition|
| -------- | -------  |
|    m      |   male       |
|     f     |   female       |
|    m?      |  male not confirmed        |

b. Get the number of times each unique sex non-NA value appears.

c. What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

In [ ]:
# help(pd.Series.value_counts)

Discuss with your team the output of the unique value counts. In particular:

Do the values in the sex column correspond to the values declared in the metadata?
What could have been potential causes for multiple codes?
Are there seemingly repated values? If so, what could be the cause?

### 6. Clean Values

Create a new column called sex_simple using the numpy.select() function so that:


- ‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,

- ‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and

- anything else gets assigned np.nan

### 7. Calculate mean weight

In [ ]:
#a. Use `groupby()` to calculate the mean weight by sex using the new column.