## Discussion section: Week 3

#### Read in the data

In [2]:
import pandas as pd
import numpy as np

In [4]:
hares = pd.read_csv('../../data/55_Hare_Data_2012.txt')

### 4. Detecting Messy values

a.
| value    |definition|
| -------- | -------  |
|    m      |   male       |
|     f     |   female       |
|    m?      |  male not confirmed        |

b. Get the number of times each unique sex non-NA value appears.

In [10]:
hares['sex'].value_counts(dropna = True)

F     1161
M      730
f      556
m      515
?       40
F?      10
f        4
m        4
f?       3
M?       2
m?       2
pf       1
Name: sex, dtype: int64

c. What is the purpose of the dropna parameter and what is its default value? Repeat step (a), this time adding the dropna=False parameter to value_counts().

In [12]:
# help(pd.Series.value_counts)

In [13]:
hares['sex'].value_counts(dropna = False)

F      1161
M       730
f       556
m       515
NaN     352
?        40
F?       10
f         4
m         4
f?        3
M?        2
m?        2
pf        1
Name: sex, dtype: int64

Discuss with your team the output of the unique value counts. In particular:

Do the values in the sex column correspond to the values declared in the metadata?
What could have been potential causes for multiple codes?
Are there seemingly repated values? If so, what could be the cause?

### 6. Clean Values

Create a new column called sex_simple using the numpy.select() function so that:


- ‘F’, ‘f’, and ‘f_’ in the sex column get assigned to ‘female’,

- ‘M’, ‘m’, and ‘m_’ get assigned to ‘male’, and

- anything else gets assigned np.nan

In [6]:
conditions=[ hares['sex'].isin(['F','f','f ']),  # (hares.sex == "f" | hares.sex == "F"|) 
          hares['sex'].isin(['M','m','m '])]

gender=['female','male']

#np.select(condlist,choicelist)
hares['sex_simple']=np.select(conditions, gender, default=np.nan)

print(hares['sex_simple'])

0        nan
1       male
2       male
3        nan
4        nan
        ...
3375     nan
3376     nan
3377     nan
3378     nan
3379    male
Name: sex_simple, Length: 3380, dtype: object

### 7. Calculate mean weight

In [7]:
#a. Use `groupby()` to calculate the mean weight by sex using the new column.

In [20]:
hares.groupby('sex_simple').weight.mean()

sex_simple
female    1365.164792
male      1349.935542
nan       1193.364055
Name: weight, dtype: float64

8.

In [ ]:
conditions=[ hares['sex'].isin(['F','f','f ']),  # (hares.sex == "f" | hares.sex == "F"|) 
          hares['sex'].isin(['M','m','m '])]

gender=['female','male']


hares['sex_simple']=np.select(conditions, gender, default=np.nan)
hares.groupby('sex_simple').weight.mean()