## Discussion Section : Week 2

In [1]:
# Import libraries
import pandas as pd

In [2]:
# Read in data 
df = pd.read_csv("../../data/Colorado_River_Basin_Water_Conflict_Table.csv")

### Preliminary Data Exploration

## Lucian

In [3]:
# Set pandas to display all columns in the dataframe 

pd.set_option("display.max_columns", None)

In [11]:
# Use pandas methods to obtain preliminary information 
# and explore this data frame in at least four different ways.

df.isna().sum()
df.shape
df.columns
df.dtypes
df.head()

,Event,Search Source,Newspaper,Article Title,Duplicate,Report Date,Report Year,Event Date,Event Day,Event Month,Event Year,Conflict Present,Crisis Present,Basin,HUC6,HUC2,Place,County,County FIPS,State,State FIPS,Urban or Rural,Issue Type,Event Summary,Stakeholders,Intensity Value,Comments,Related Observation Themes,Article Text Search - water quality,Article Text Search - invasive species,Article Text Search - conservation,Article Text Search - drought,Article Text Search - flood,Article Text Search - ground water depletion,Article Text Search - depletion,Article Text Search - infrastructure,Article Text Search - fish passage,Article Text Search - instream water rights,Article Text Search - water rights,Article Text Search - intergovernmental,Article Text Search - water transfers,Article Text Search - navigation,Article Text Search - fish,Article Text Search - invasive,Article Text Search - diversion,Article Text Search - water diversion,Article Text Search - instream,Article Text Search - aquatic
0,1,USGS1-50.docx,The Durango Herald (Colorado),Tribes assert water rights on Colorado River B...,False,7-Apr-22,2022.0,NaN,NaN,4.0,2022.0,Y,N,Upper San Juan,140801,14,"Durango, CO",La Plata,8067.0,CO,8,Both,Water rights more generally,Ute Mountain and Southern Ute representatives ...,"Tribal Nations, State Government, Federal Gove...",2.0,The article highlights calls for negotiation b...,Lack of tribal representation,0,0,3,7,0,0,0,1,0,0,17,0,0,0,0,0,0,0,0,0
1,2,USGS1-50.docx,"Journal, The (Cortez, Dolores, Mancos, CO)",Native American tribes assert water rights on ...,False,7-Apr-22,2022.0,NaN,NaN,4.0,2022.0,Y,N,Upper San Juan,140801,14,"Durango, CO",La Plata,8067.0,CO,8,Both,Water rights more generally,Ute Mountain and Southern Ute representatives ...,"Southern Ute Indian Tribe, Ute Mountain Tribe,...",2.0,The article highlights calls for negotiation b...,Lack of tribal representation,0,0,2,7,0,0,0,1,0,0,17,0,0,0,0,0,0,0,0,0
2,3,USGS1-50.docx,The Salt Lake Tribune,'Very positive change.' New Utah law will be a...,False,17-Mar-22,2022.0,NaN,NaN,3.0,2022.0,N,Y,Great Salt Lake,160203,16,Great Salt Lake,NaN,NaN,UT,49,Both,Instream water rights,A bill is proposed in Utah that would expand t...,"State Government, Any Water Rights Holder, Agr...",3.0,The event is the proposal of the bill at the s...,Dishonoring the absent,0,0,1,2,0,0,0,0,0,0,12,0,0,0,1,0,0,0,12,1
3,4,USGS1-50.docx,Casa Grande Dispatch (AZ),Legislation would let an Arizona tribe lease C...,False,11-Dec-21,2021.0,NaN,NaN,12.0,2021.0,N,Y,Lower Colorado,150301,15,Colorado River Indian Reservation,NaN,NaN,NaN,NaN,Rural,Water rights more generally,The Colorado River Indian Tribes Water Resilie...,"Colorado River Indian Tribes, State Government...",3.0,"Event is proposal of the bill, preliminary agr...",NaN,0,0,2,6,0,0,0,0,0,0,6,0,0,0,0,0,0,0,0,0
4,5,USGS1-50.docx,The Aspen Times (Colorado),Historically excluded from Colorado River poli...,False,19-Dec-21,2021.0,NaN,NaN,11.0,2021.0,Y,Y,Upper San Juan,140801,14,Southern Ute Indian Reservation,NaN,NaN,NaN,NaN,Rural,Intergovernmental issues,State and federal officials say that Tribal Na...,"Sothern Ute Indian Tribe, Ute Mountain Tribe, ...",-1.0,Interaction between tribal nations and state/f...,Lack of tribal representation,0,0,2,6,0,0,0,7,0,0,18,0,0,0,0,0,0,0,0,0

### String Accessor for pandas.series

In [ ]:
import numpy as np
import pandas as pd 

# Example series
s = pd.Series(['California; Nevada', 'Arizona', np.nan, 'Nevada; Utah'])
s

In [ ]:
# str accessor (doesn't do anything by itself)
s.str

In [ ]:
# Use str accessor with additional methods to perform string operations
# .split splits strings by ';' and expands output into separate columns
s.str.split(';', expand=True)

In [ ]:
# Use stack() method to flatten the data frame into a series
# default is to drop NAs and None from result
d = s.str.split(';', expand=True).stack()

## Lucian

### Examine the state codes

What are the unique values in the States column once filtering the dataset for states that have a water conflict? What could be a challenge to writing code to find which states are listed (without repetition)?

In [16]:
df[df['Conflict Present'] == 'Y'].State.unique()

array(['CO', nan, 'AZ', 'OH; UT', 'UT', 'CA', 'AZ; NV', 'CO; UT; WY; NM',
       'AZ; CA', 'AZ; UT', 'NV; AZ', 'AZ; CA; CO; NV; NM; UT; WY', 'NV',
       'NM', 'UT; CO; WY', 'AZ; NM', 'WY; UT; CO', 'CO; AZ'], dtype=object)

## Jay

### Exploratory Wrangling

i. select the State column from the df data frame

In [18]:
df_conflict = df[df['Conflict Present'] == 'Y']
df_conflict['State']

0          CO
1          CO
4         NaN
5          AZ
7         NaN
        ...
257        AZ
258        UT
260       NaN
262        AZ
265    AZ; CA
Name: State, Length: 145, dtype: object

ii. split the strings in the column by the delimeter ; into different columns

In [19]:
# Split the strings in the column by the delimeter ; into different columns
df_conflict['State'].str.split('; ', expand = True)

       0     1     2     3     4     5     6
0     CO  None  None  None  None  None  None
1     CO  None  None  None  None  None  None
4    NaN   NaN   NaN   NaN   NaN   NaN   NaN
5     AZ  None  None  None  None  None  None
7    NaN   NaN   NaN   NaN   NaN   NaN   NaN
..   ...   ...   ...   ...   ...   ...   ...
257   AZ  None  None  None  None  None  None
258   UT  None  None  None  None  None  None
260  NaN   NaN   NaN   NaN   NaN   NaN   NaN
262   AZ  None  None  None  None  None  None
265   AZ    CA  None  None  None  None  None

[145 rows x 7 columns]

iii. Stack the results of the resulting data frame into a single pandas.Series

In [20]:
# Stack the results of the resulting data frame into a single pandas.Series
df_conflict['State'].str.split('; ', expand = True).stack()

0    0    CO
1    0    CO
5    0    AZ
11   0    OH
     1    UT
          ..
257  0    AZ
258  0    UT
262  0    AZ
265  0    AZ
     1    CA
Length: 132, dtype: object

## Marie

### Find unique state codes

iv. find the unique string values in the resulting series

In [21]:
# Update your code to obtain a list of codes (without repetition) of the states mentioned 
# in the news articles about water conflicts in the Colorado River Basin. 
# Hint: str.strip().
df_conflict['State'].str.split('; ', expand = True).stack().unique()

array(['CO', 'AZ', 'OH', 'UT', 'CA', 'NV', 'WY', 'NM'], dtype=object)

### Bonus!

How many articles mention each state?

In [22]:
#Bonus: How many articles mention each state?

df_conflict['State'].str.split('; ', expand = True).stack().value_counts()

AZ    45
UT    29
CO    22
NV    12
NM    10
CA     7
WY     6
OH     1
Name: count, dtype: int64